@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: none;
}

/* Headings and title */

h1 {
    font-family: 'Cardo', sans-serif;
        font-weight: 100px;
        color: #3a3a3a;
        float: center;
        text-decoration: none;
}

#title{
    font-family: 'Cardo', sans-serif;
    font-weight: 100px;
    color: #3a3a3a; 
    float: left;
    text-decoration: none;
}

#menu{
    font-size: 100%;
    list-style-type: square;
}

#menu li{
    float: right;
    margin-right: 20px;
}

#menu a:hover {
    border-bottom: 2px solid #3a3a3a;
}

#menu a{
    text-decoration: none;
    color: #3a3a3a
}

#title, #menu{
    line-height: 60px;
}

/* James Connolly image */

#jc-drop {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

#jc {
    height: 400px;
    width: 100%;
    background: url('../images/James-Connolly.jpeg') no-repeat center center;
}

#timeline {
    text-decoration: 2px solid #3a3a3a underline;
    float: center;
    font-weight: bold;
    font-size: 30px;
    font-family: inherit;
    text-transform: capitalize;
    margin: 5px;
}



/* Footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;

}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* Sign up Page */

 #winner {
    font-family: 'Cardo', sans-serif;
        font-weight: 100px;
        color: #3a3a3a;
        float: left;
        text-decoration: none;
        margin-top:5px;
 }

/* Sign Up Page Image */

#kgt-drop {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

#kgt {
    height: 400px;
    width: 100%;
    background: url('../images/kilmainham-gaol-tour.webp') no-repeat center center;
}

h2 {
    margin: 15px;
    font-family: 'Cardo', sans-serif;
    text-decoration: bold;
    text-align: center;
    font-size: 30px;
}

/* Sign Up Page Details */

fieldset {
    border: none;
    margin-top: 40px;
}

.block-label {
    display: block;
    width: 5%;
    float:center;
    margin-bottom: 10px;
}

legend {
    margin; 10px;
    padding: 25px;
    font-size: 20px;
    font-family: 'Cardo', sans-serif;
    float: center;

}

.float-left {
    float: left;
    vertical-align: inline-block;
}

input[type=text],
input[type=email] {
    height: 30px;
    width: 50%;
    padding: 5px;
    margin: 5px;
    float:left;
}

/* Questionaire */

h3 {
    margin: 15px;
    font-family: 'Cardo', sans-serif;
    text-decoration: bold;
    text-align: center;
    font-size: 25px;
}

label {
    margin: 10px 15px 5px 0;
}

.heading{
    margin: 10px;
    padding: 10px;
    color: #3a3a3a;
    font-family: 'Cardo', sans-serif;
}

.questionaire {
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    padding: 10px;
}

p{
    font-family: 'Montserrat', sans-serif;
     margin: 10px;
     padding: 10px;
}