@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: none;
}

/* Headings and title */

#title{
    font-family: 'Cardo';
    font-weight: 200px;
    color: #3a3a3a; 
    float: left;
}

#menu{
    font-size: 100%;
    list-style-type: square;
}

#menu li{
    float: right;
    margin-right: 20px;
}

#menu a:hover {
    border-bottom: 2px solid #3a3a3a;
}

#menu a{
    text-decoration: none;
    color: #3a3a3a
}

#title, #menu{
    line-height: 60px;
}

/* James Connolly image */

#jc-drop{
    height: 400px;
    width: 100%;
    overflow: hidden;
}

#jc {
    height: 400px;
    width: 100%;
    background: url('../images/James-Connolly.jpeg') no-repeat center center;
}

#timeline {
    text-decoration: 1px solid #3a3a3a underline;
    float: center;
    font-weight: bold;
    font-size: 60px;
    font-family: inherit;
    text-transform: uppercase;
}